h3{
  position: relative;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: .7rem 1rem;
  background-color: #fff;
  box-shadow:  var(--shadow);
  text-align: center;
  border-radius: .5rem;
}

.box:hover h3,
h3:hover{
  box-shadow: var(--neomorphism);
  background:linear-gradient( 135deg, #ee9ae6 10%, #5961f9 100%);
  color: #fff;
  text-align: left;
  padding-left: 3rem;
}

h3::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: 100%;
  top: -.3rem;
  left: -2rem;
  background-color: #fbdbf9;
  box-shadow:  var(--shadow);
  border-radius: 0 .5rem;
}

h4{
  font-size: 1.5rem;
  color: #d777cd;
  font-weight: 400;
}

h6{
  font-size: 1.3rem;
  font-weight: 400;
  margin: .5rem 0;
}

p{
  font-size: 1.4rem;
  font-weight: 300;
}

.box{
  position: relative;
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow:  var(--shadow);
}

.box:hover{
  box-shadow: var(--big);
}

.box::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: 100%;
  top: -.3rem;
  left: -2rem;
  background-color: #e5e5e5;
  box-shadow:  var(--shadow);
}

.box:last-child{
  margin-bottom: 0;
}

.content{
  position: relative;
  margin-bottom: 1.5rem;
  margin-left: 3rem;
}

.box:hover .content{
  box-shadow: var(--shadow);
  padding: .7rem;
  border-radius: .5rem;
}

.content::before{
  content: '';
  position: absolute;
  top: .5rem;left: -3rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--neomorphism);
}

.box:hover .content::before{
  box-shadow: var(--shadow);
  background-color: #fbdbf9;
}

.content:last-child{
  margin-bottom: 0;
}

